.songs_page {
    .sidebar {
        .new_song_button {
            display: block;
            text-align: center;
        }
    }

    .content_column {
        padding: 20px;

        h2 {
            margin-top: 0;
        }
    }
}
